@import 'react-tippy/dist/tippy.css';

.tippy-touch{cursor:pointer!important}.tippy-notransition{transition:none!important}.tippy-popper{max-width:400px;-webkit-perspective:800px;perspective:800px;z-index:9999;outline:0;transition-timing-function:cubic-bezier(.165,.84,.44,1);pointer-events:none}.tippy-popper.html-template{max-width:96%;max-width:calc(100% - 20px)}.tippy-popper[x-placement^=top] [x-arrow]{border-top:7px solid #333;border-right:7px solid transparent;border-left:7px solid transparent;bottom:-7px;margin:0 9px}.tippy-popper[x-placement^=top] [x-arrow].arrow-small{border-top:5px solid #333;border-right:5px solid transparent;border-left:5px solid transparent;bottom:-5px}.tippy-popper[x-placement^=top] [x-arrow].arrow-big{border-top:10px solid #333;border-right:10px solid transparent;border-left:10px solid transparent;bottom:-10px}.tippy-popper[x-placement^=top] [x-circle]{-webkit-transform-origin:0 33%;transform-origin:0 33%}.tippy-popper[x-placement^=top] [x-circle].enter{-webkit-transform:scale(1) translate(-50%,-55%);transform:scale(1) translate(-50%,-55%);opacity:1}.tippy-popper[x-placement^=top] [x-circle].leave{-webkit-transform:scale(.15) translate(-50%,-50%);transform:scale(.15) translate(-50%,-50%);opacity:0}.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme [x-circle]{background-color:#fff}.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme [x-arrow]{border-top:7px solid #fff;border-right:7px solid transparent;border-left:7px solid transparent}.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme [x-arrow].arrow-small{border-top:5px solid #fff;border-right:5px solid transparent;border-left:5px solid transparent}.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme [x-arrow].arrow-big{border-top:10px solid #fff;border-right:10px solid transparent;border-left:10px solid transparent}.tippy-popper[x-placement^=top] .tippy-tooltip.transparent-theme [x-circle]{background-color:rgba(0,0,0,.7)}.tippy-popper[x-placement^=top] .tippy-tooltip.transparent-theme [x-arrow]{border-top:7px solid rgba(0,0,0,.7);border-right:7px solid transparent;border-left:7px solid transparent}.tippy-popper[x-placement^=top] .tippy-tooltip.transparent-theme [x-arrow].arrow-small{border-top:5px solid rgba(0,0,0,.7);border-right:5px solid transparent;border-left:5px solid transparent}.tippy-popper[x-placement^=top] .tippy-tooltip.transparent-theme [x-arrow].arrow-big{border-top:10px solid rgba(0,0,0,.7);border-right:10px solid transparent;border-left:10px solid transparent}.tippy-popper[x-placement^=top] [data-animation=perspective]{-webkit-transform-origin:bottom;transform-origin:bottom}.tippy-popper[x-placement^=top] [data-animation=perspective].enter{opacity:1;-webkit-transform:translateY(-10px) rotateX(0);transform:translateY(-10px) rotateX(0)}.tippy-popper[x-placement^=top] [data-animation=perspective].leave{opacity:0;-webkit-transform:translateY(0) rotateX(90deg);transform:translateY(0) rotateX(90deg)}.tippy-popper[x-placement^=top] [data-animation=fade].enter{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px)}.tippy-popper[x-placement^=top] [data-animation=fade].leave{opacity:0;-webkit-transform:translateY(-10px);transform:translateY(-10px)}.tippy-popper[x-placement^=top] [data-animation=shift].enter{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px)}.tippy-popper[x-placement^=top] [data-animation=shift].leave{opacity:0;-webkit-transform:translateY(0);transform:translateY(0)}.tippy-popper[x-placement^=top] [data-animation=scale].enter{opacity:1;-webkit-transform:translateY(-10px) scale(1);transform:translateY(-10px) scale(1)}.tippy-popper[x-placement^=top] [data-animation=scale].leave{opacity:0;-webkit-transform:translateY(0) scale(0);transform:translateY(0) scale(0)}.tippy-popper[x-placement^=bottom] [x-arrow]{border-bottom:7px solid #333;border-right:7px solid transparent;border-left:7px solid transparent;top:-7px;margin:0 9px}.tippy-popper[x-placement^=bottom] [x-arrow].arrow-small{border-bottom:5px solid #333;border-right:5px solid transparent;border-left:5px solid transparent;top:-5px}.tippy-popper[x-placement^=bottom] [x-arrow].arrow-big{border-bottom:10px solid #333;border-right:10px solid transparent;border-left:10px solid transparent;top:-10px}.tippy-popper[x-placement^=bottom] [x-circle]{-webkit-transform-origin:0 -50%;transform-origin:0 -50%}.tippy-popper[x-placement^=bottom] [x-circle].enter{-webkit-transform:scale(1) translate(-50%,-45%);transform:scale(1) translate(-50%,-45%);opacity:1}.tippy-popper[x-placement^=bottom] [x-circle].leave{-webkit-transform:scale(.15) translate(-50%,-5%);transform:scale(.15) translate(-50%,-5%);opacity:0}.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme [x-circle]{background-color:#fff}.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme [x-arrow]{border-bottom:7px solid #fff;border-right:7px solid transparent;border-left:7px solid transparent}.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme [x-arrow].arrow-small{border-bottom:5px solid #fff;border-right:5px solid transparent;border-left:5px solid transparent}.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme [x-arrow].arrow-big{border-bottom:10px solid #fff;border-right:10px solid transparent;border-left:10px solid transparent}.tippy-popper[x-placement^=bottom] .tippy-tooltip.transparent-theme [x-circle]{background-color:rgba(0,0,0,.7)}.tippy-popper[x-placement^=bottom] .tippy-tooltip.transparent-theme [x-arrow]{border-bottom:7px solid rgba(0,0,0,.7);border-right:7px solid transparent;border-left:7px solid transparent}.tippy-popper[x-placement^=bottom] .tippy-tooltip.transparent-theme [x-arrow].arrow-small{border-bottom:5px solid rgba(0,0,0,.7);border-right:5px solid transparent;border-left:5px solid transparent}.tippy-popper[x-placement^=bottom] .tippy-tooltip.transparent-theme [x-arrow].arrow-big{border-bottom:10px solid rgba(0,0,0,.7);border-right:10px solid transparent;border-left:10px solid transparent}.tippy-popper[x-placement^=bottom] [data-animation=perspective]{-webkit-transform-origin:top;transform-origin:top}.tippy-popper[x-placement^=bottom] [data-animation=perspective].enter{opacity:1;-webkit-transform:translateY(10px) rotateX(0);transform:translateY(10px) rotateX(0)}.tippy-popper[x-placement^=bottom] [data-animation=perspective].leave{opacity:0;-webkit-transform:translateY(0) rotateX(-90deg);transform:translateY(0) rotateX(-90deg)}.tippy-popper[x-placement^=bottom] [data-animation=fade].enter{opacity:1;-webkit-transform:translateY(10px);transform:translateY(10px)}.tippy-popper[x-placement^=bottom] [data-animation=fade].leave{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px)}.tippy-popper[x-placement^=bottom] [data-animation=shift].enter{opacity:1;-webkit-transform:translateY(10px);transform:translateY(10px)}.tippy-popper[x-placement^=bottom] [data-animation=shift].leave{opacity:0;-webkit-transform:translateY(0);transform:translateY(0)}.tippy-popper[x-placement^=bottom] [data-animation=scale].enter{opacity:1;-webkit-transform:translateY(10px) scale(1);transform:translateY(10px) scale(1)}.tippy-popper[x-placement^=bottom] [data-animation=scale].leave{opacity:0;-webkit-transform:translateY(0) scale(0);transform:translateY(0) scale(0)}.tippy-popper[x-placement^=left] [x-arrow]{border-left:7px solid #333;border-top:7px solid transparent;border-bottom:7px solid transparent;right:-7px;margin:6px 0}.tippy-popper[x-placement^=left] [x-arrow].arrow-small{border-left:5px solid #333;border-top:5px solid transparent;border-bottom:5px solid transparent;right:-5px}.tippy-popper[x-placement^=left] [x-arrow].arrow-big{border-left:10px solid #333;border-top:10px solid transparent;border-bottom:10px solid transparent;right:-10px}.tippy-popper[x-placement^=left] [x-circle]{-webkit-transform-origin:50% 0;transform-origin:50% 0}.tippy-popper[x-placement^=left] [x-circle].enter{-webkit-transform:scale(1) translate(-50%,-50%);transform:scale(1) translate(-50%,-50%);opacity:1}.tippy-popper[x-placement^=left] [x-circle].leave{-webkit-transform:scale(.15) translate(-50%,-50%);transform:scale(.15) translate(-50%,-50%);opacity:0}.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme [x-circle]{background-color:#fff}.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme [x-arrow]{border-left:7px solid #fff;border-top:7px solid transparent;border-bottom:7px solid transparent}.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme [x-arrow].arrow-small{border-left:5px solid #fff;border-top:5px solid transparent;border-bottom:5px solid transparent}.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme [x-arrow].arrow-big{border-left:10px solid #fff;border-top:10px solid transparent;border-bottom:10px solid transparent}.tippy-popper[x-placement^=left] .tippy-tooltip.transparent-theme [x-circle]{background-color:rgba(0,0,0,.7)}.tippy-popper[x-placement^=left] .tippy-tooltip.transparent-theme [x-arrow]{border-left:7px solid rgba(0,0,0,.7);border-top:7px solid transparent;border-bottom:7px solid transparent}.tippy-popper[x-placement^=left] .tippy-tooltip.transparent-theme [x-arrow].arrow-small{border-left:5px solid rgba(0,0,0,.7);border-top:5px solid transparent;border-bottom:5px solid transparent}.tippy-popper[x-placement^=left] .tippy-tooltip.transparent-theme [x-arrow].arrow-big{border-left:10px solid rgba(0,0,0,.7);border-top:10px solid transparent;border-bottom:10px solid transparent}.tippy-popper[x-placement^=left] [data-animation=perspective]{-webkit-transform-origin:right;transform-origin:right}.tippy-popper[x-placement^=left] [data-animation=perspective].enter{opacity:1;-webkit-transform:translateX(-10px) rotateY(0);transform:translateX(-10px) rotateY(0)}.tippy-popper[x-placement^=left] [data-animation=perspective].leave{opacity:0;-webkit-transform:translateX(0) rotateY(-90deg);transform:translateX(0) rotateY(-90deg)}.tippy-popper[x-placement^=left] [data-animation=fade].enter{opacity:1;-webkit-transform:translateX(-10px);transform:translateX(-10px)}.tippy-popper[x-placement^=left] [data-animation=fade].leave{opacity:0;-webkit-transform:translateX(-10px);transform:translateX(-10px)}.tippy-popper[x-placement^=left] [data-animation=shift].enter{opacity:1;-webkit-transform:translateX(-10px);transform:translateX(-10px)}.tippy-popper[x-placement^=left] [data-animation=shift].leave{opacity:0;-webkit-transform:translateX(0);transform:translateX(0)}.tippy-popper[x-placement^=left] [data-animation=scale].enter{opacity:1;-webkit-transform:translateX(-10px) scale(1);transform:translateX(-10px) scale(1)}.tippy-popper[x-placement^=left] [data-animation=scale].leave{opacity:0;-webkit-transform:translateX(0) scale(0);transform:translateX(0) scale(0)}.tippy-popper[x-placement^=right] [x-arrow]{border-right:7px solid #333;border-top:7px solid transparent;border-bottom:7px solid transparent;left:-7px;margin:6px 0}.tippy-popper[x-placement^=right] [x-arrow].arrow-small{border-right:5px solid #333;border-top:5px solid transparent;border-bottom:5px solid transparent;left:-5px}.tippy-popper[x-placement^=right] [x-arrow].arrow-big{border-right:10px solid #333;border-top:10px solid transparent;border-bottom:10px solid transparent;left:-10px}.tippy-popper[x-placement^=right] [x-circle]{-webkit-transform-origin:-50% 0;transform-origin:-50% 0}.tippy-popper[x-placement^=right] [x-circle].enter{-webkit-transform:scale(1) translate(-50%,-50%);transform:scale(1) translate(-50%,-50%);opacity:1}.tippy-popper[x-placement^=right] [x-circle].leave{-webkit-transform:scale(.15) translate(-50%,-50%);transform:scale(.15) translate(-50%,-50%);opacity:0}.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme [x-circle]{background-color:#fff}.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme [x-arrow]{border-right:7px solid #fff;border-top:7px solid transparent;border-bottom:7px solid transparent}.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme [x-arrow].arrow-small{border-right:5px solid #fff;border-top:5px solid transparent;border-bottom:5px solid transparent}.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme [x-arrow].arrow-big{border-right:10px solid #fff;border-top:10px solid transparent;border-bottom:10px solid transparent}.tippy-popper[x-placement^=right] .tippy-tooltip.transparent-theme [x-circle]{background-color:rgba(0,0,0,.7)}.tippy-popper[x-placement^=right] .tippy-tooltip.transparent-theme [x-arrow]{border-right:7px solid rgba(0,0,0,.7);border-top:7px solid transparent;border-bottom:7px solid transparent}.tippy-popper[x-placement^=right] .tippy-tooltip.transparent-theme [x-arrow].arrow-small{border-right:5px solid rgba(0,0,0,.7);border-top:5px solid transparent;border-bottom:5px solid transparent}.tippy-popper[x-placement^=right] .tippy-tooltip.transparent-theme [x-arrow].arrow-big{border-right:10px solid rgba(0,0,0,.7);border-top:10px solid transparent;border-bottom:10px solid transparent}.tippy-popper[x-placement^=right] [data-animation=perspective]{-webkit-transform-origin:left;transform-origin:left}.tippy-popper[x-placement^=right] [data-animation=perspective].enter{opacity:1;-webkit-transform:translateX(10px) rotateY(0);transform:translateX(10px) rotateY(0)}.tippy-popper[x-placement^=right] [data-animation=perspective].leave{opacity:0;-webkit-transform:translateX(0) rotateY(90deg);transform:translateX(0) rotateY(90deg)}.tippy-popper[x-placement^=right] [data-animation=fade].enter{opacity:1;-webkit-transform:translateX(10px);transform:translateX(10px)}.tippy-popper[x-placement^=right] [data-animation=fade].leave{opacity:0;-webkit-transform:translateX(10px);transform:translateX(10px)}.tippy-popper[x-placement^=right] [data-animation=shift].enter{opacity:1;-webkit-transform:translateX(10px);transform:translateX(10px)}.tippy-popper[x-placement^=right] [data-animation=shift].leave{opacity:0;-webkit-transform:translateX(0);transform:translateX(0)}.tippy-popper[x-placement^=right] [data-animation=scale].enter{opacity:1;-webkit-transform:translateX(10px) scale(1);transform:translateX(10px) scale(1)}.tippy-popper[x-placement^=right] [data-animation=scale].leave{opacity:0;-webkit-transform:translateX(0) scale(0);transform:translateX(0) scale(0)}.tippy-popper .tippy-tooltip.transparent-theme{background-color:rgba(0,0,0,.7)}.tippy-popper .tippy-tooltip.transparent-theme[data-animatefill]{background-color:transparent}.tippy-popper .tippy-tooltip.light-theme{color:#26323d;box-shadow:0 4px 20px 4px rgba(0,20,60,.1),0 4px 80px -8px rgba(0,20,60,.2);background-color:#fff}.tippy-popper .tippy-tooltip.light-theme[data-animatefill]{background-color:transparent}.tippy-tooltip{position:relative;color:#fff;border-radius:4px;font-size:.95rem;padding:.4rem .8rem;text-align:center;will-change:transform;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-color:#333}.tippy-tooltip--small{padding:.25rem .5rem;font-size:.8rem}.tippy-tooltip--big{padding:.6rem 1.2rem;font-size:1.2rem}.tippy-tooltip[data-animatefill]{overflow:hidden;background-color:transparent}.tippy-tooltip[data-interactive]{pointer-events:auto}.tippy-tooltip[data-inertia]{transition-timing-function:cubic-bezier(.53,2,.36,.85)}.tippy-tooltip [x-arrow]{position:absolute;width:0;height:0}.tippy-tooltip [x-circle]{position:absolute;will-change:transform;background-color:#333;border-radius:50%;width:130%;width:calc(110% + 2rem);left:50%;top:50%;z-index:-1;overflow:hidden;transition:all ease}.tippy-tooltip [x-circle]:before{content:"";padding-top:90%;float:left}@media (max-width:450px){.tippy-popper{max-width:96%;max-width:calc(100% - 20px)}}

.Town {
  min-height: 100vh;
  background-color: #8f7651;
  background-repeat: repeat;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
  min-height: 100vh;
  padding-top: 2%;
  margin: auto;

  .Town-Banner {
    .title {
      text-decoration: underline;
      font-size: 4rem;
      color: black;
      @media (max-width: 900px) {
        i {
          display: none;
        }
        .title {
          font-size: 0.5rem;
        }
      }
    }
    .subtitle {
      font-size: 3rem;
      color: black;
    }
    border: 2px solid black;
    padding: 1%;
    background-color: #b88e69;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  }

  .Resources {
    width: 50vw;
    margin: auto;
  }


  .Town-Buttons {
    min-width: '90%';
    min-height: 60vh;
    border: 2px solid black;
    padding: 5%;
    margin: auto;
    margin-top: 0;
    background-color: #b88e69;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");

    .Town-Button-Div {
      margin:auto;
      margin-bottom: 2vw;
      @media (orientation: portrait) {
        margin: auto;
        width: 100%;
      }
    }
    .Travel-Button {
      height: 10vh;
      width: 45vw;
      margin: auto;
      margin-bottom: 2vw;
      border: 2px solid black;
    }
    .button {
      border-radius: 100px;
      font-size: 2rem;
      background-color: #b88e69;
      color: black;
      height: 10vh;
      border: 2px solid black;
      @media (orientation: portrait) {
        .icon {
          display: none;
        }
      }
    }

  }

  .Modal {
    text-align: center;
    .title {
      color: black;
      text-decoration: underline;
    }
    .modal-card-title{
      color: black;
      font-size: 3rem;
    }
    .modal-card-body {
      background-color: #b88e69;
      background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
      hr {
        background-color: #b88e69;
      }
      .subtitle {
        color: black;
      }
      .Info-Button {
        background-color: #f7c48c;
        background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
        height: 3rem;
        width: 10vw;
        min-width: 100px;
        font-size: 1.5rem;
      }
      select {
        background-color: #b88e69;
        color: black;
        option {
          color: black;
        }
      }
      .box {
        background-color: #f7c48c;
        background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
      }
      .table {
        .tbody {
          background-color: #b88e69;
          background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
          cursor: move;
          margin: 5px;
        }
        .tbody:hover {
          background-color: #f7c48c;
          background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
        }
        .Table-Button {
          background-color: #f7c48c;
          height: 5vh;
          min-width: 7vw;
          font-size: 1rem;
        }
        .Table-Button:hover {
          background-color: #b88e69;
        }
        .Drag-And-Drop {
          overflow: hidden;
          max-width: 100%;
          background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
          .DnD-Title {
            max-height: 15vh;
            position: fixed;
            top: 0;
          }
          .Drop-Region {
          }

        }
      }


    }
    .modal-card-head, .modal-card-foot {
      background-color: #b88e69;
      background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    }
    .button, .input {
      font-size: 2rem;
      background-color: #b88e69;
      color: black;
      height: 10vh;
      border: 2px solid black;
      @media (max-width: 900px) {
        font-size: 1rem;
        .icon {
          // display: none;
          font-size: 0.5rem;
        }
      }
    }
  }

}

.app {
  height: 100vh;
}


.Game {
  background-color: #f7c48c;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  max-height: 100vh;
  height: 100vh;
  // background-color: white;
  // background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  .PlayerFrame {
    border-top: 10px white;
    position: fixed;
    bottom: 2vh;
    margin: auto;
    padding-bottom: 5%;
    height: 30vh;
    width: 100vw;
    // background-color: #b8b8b8;
    // // background-color: #b88e69;
    // background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    // background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    .box {
      margin-bottom: 10%;
      background-color: #b8b8b8;
      // background-color: #f7c48c;
      background-image: url("https://www.transparenttextures.com/patterns/arches.png");
      // background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    }
    .PlayerSpellBarContainer {
      height: 30vh;
      width: 100%;
      margin-bottom: 10px;
      background-color: #b8b8b8;
      background-image: url("https://www.transparenttextures.com/patterns/arches.png");
      button:focus {outline:0;}
      .is-success {
        background-color: lightgreen;
        opacity: 0.8;
        :hover {
          opacity: 1;
        }
      }
      .is-danger {
        opacity: 0.5
      }
      .PlayerSpell {
        cursor: pointer;
      }

    }
    .PlayerBox {
      height: 25vh;
      // margin: auto;
      width: 100%;
      margin-bottom: 10px;
      // padding: 10%;
      @media (max-width: 900px) {
        .title {
          font-size: 0.3rem;
        }
      }
    }
    .p {
      margin-bottom: 0;
    }
    .level {
      margin-bottom: 0;
    }
    .HealthBar {
      // width: 100%;
      // height: 50%;
    }
    .PlayerBarContainer {
      // margin-bottom:
    }
  }

  .BossFrame {
    height: 35vh;
    background-color: #b88d8d;
    background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
    border-bottom: 5px black;
    .BossSpellBar {
      // background-color: #b88d8d;
      // background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
      height: 100%;
      margin-bottom: 5%;
      button {
        cursor:not-allowed;
      }
      .BossSpell {
        margin-left: 5%;
        margin-right: 5%;
        .tooltip .tooltiptext {
          visibility: visible;
        }
      }
    }
    .BossHealthBar {
      height: 100%;
    }
  }
  .PartyFrame {
    height: 30vh;
    width: 100vw;
    bottom: 0;
    border: 10px black;
    margin: auto;
    .button {
      border: none;
      .is-success {
        border: 5px black;
      }
    }
    .MemberFrame {
      height: 15vh;
      min-height: 150px;
      max-height: 150px;
      margin: none;
      border: 5px black;
      .is-target {
        border: 5px green;
        background-color: lightgreen;
      }
      .RecruitHealthBar {
        height: 5vh;
      }
    }
    .button {
      margin: 5%;
      padding: none;
    }
  }
}

// .SpellCooldDown {
//   width: 10vw;
// }

.tooltip {
  position: relative;
  display: inline-block;
  color: black;
  // border-bottom: 1px dotted black;
  cursor:context-menu;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 1rem;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  cursor:context-menu;
  opacity: 0.7;
  @media (max-width: 900px) {
    visibility:visible;
    min-width: 200px;
    margin-left: -100px;
    // height: 10px;
    bottom: 50%;
    border-radius: 1px;
    padding: auto;
    padding-top: 5px;
    font-size: 2;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.BossTooltip .tooltiptext {
  bottom: 0;
}
