
$ra-font-path:        '../fonts' !default;
$ra-css-prefix:       ra !default;
$ra-version:          '0.1.0' !default;
$ra-border-color:     #eee !default;
$ra-inverse:          #fff !default;
$ra-li-width:         (30em / 14) !default;



@import './_variables1.scss';
@import './_variables2.scss';
@import './_variables3.scss';
@import './_variables4.scss';
@import './_variables5.scss';
@import './_variables6.scss';
@import './_variables7.scss';
