.Town {
  min-height: 100vh;
  background-color: #8f7651;
  background-repeat: repeat;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
  min-height: 100vh;
  padding-top: 2%;
  margin: auto; }
  .Town .Town-Banner {
    border: 2px solid black;
    padding: 1%;
    background-color: #b88e69;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); }
    .Town .Town-Banner .title {
      text-decoration: underline;
      font-size: 4rem;
      color: black; }
      @media (max-width: 900px) {
        .Town .Town-Banner .title i {
          display: none; }
        .Town .Town-Banner .title .title {
          font-size: 0.5rem; } }
    .Town .Town-Banner .subtitle {
      font-size: 3rem;
      color: black; }
  .Town .Resources {
    width: 50vw;
    margin: auto; }
  .Town .Town-Buttons {
    min-width: '90%';
    min-height: 60vh;
    border: 2px solid black;
    padding: 5%;
    margin: auto;
    margin-top: 0;
    background-color: #b88e69;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png"); }
    .Town .Town-Buttons .Town-Button-Div {
      margin: auto;
      margin-bottom: 2vw; }
      @media (orientation: portrait) {
        .Town .Town-Buttons .Town-Button-Div {
          margin: auto;
          width: 100%; } }
    .Town .Town-Buttons .Travel-Button {
      height: 10vh;
      width: 45vw;
      margin: auto;
      margin-bottom: 2vw;
      border: 2px solid black; }
    .Town .Town-Buttons .button {
      border-radius: 100px;
      font-size: 2rem;
      background-color: #b88e69;
      color: black;
      height: 10vh;
      border: 2px solid black; }
      @media (orientation: portrait) {
        .Town .Town-Buttons .button .icon {
          display: none; } }
  .Town .Modal {
    text-align: center; }
    .Town .Modal .title {
      color: black;
      text-decoration: underline; }
    .Town .Modal .modal-card-title {
      color: black;
      font-size: 3rem; }
    .Town .Modal .modal-card-body {
      background-color: #b88e69;
      background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png"); }
      .Town .Modal .modal-card-body hr {
        background-color: #b88e69; }
      .Town .Modal .modal-card-body .subtitle {
        color: black; }
      .Town .Modal .modal-card-body .Info-Button {
        background-color: #f7c48c;
        background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
        height: 3rem;
        width: 10vw;
        font-size: 1.5rem; }
      .Town .Modal .modal-card-body select {
        background-color: #b88e69;
        color: black; }
        .Town .Modal .modal-card-body select option {
          color: black; }
      .Town .Modal .modal-card-body .box {
        background-color: #f7c48c;
        background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png"); }
      .Town .Modal .modal-card-body .table .tbody {
        background-color: #b88e69;
        background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
        cursor: move; }
      .Town .Modal .modal-card-body .table .tbody:hover {
        background-color: #f7c48c;
        background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png"); }
      .Town .Modal .modal-card-body .table .button {
        background-color: #f7c48c;
        width: 50%;
        height: 5vh;
        font-size: 1rem;
        cursor: "pointer"; }
    .Town .Modal .modal-card-head, .Town .Modal .modal-card-foot {
      background-color: #b88e69;
      background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); }
    .Town .Modal .button, .Town .Modal .input {
      font-size: 2rem;
      background-color: #b88e69;
      color: black;
      height: 10vh;
      border: 2px solid black; }
      @media (max-width: 900px) {
        .Town .Modal .button, .Town .Modal .input {
          font-size: 1rem; }
          .Town .Modal .button .icon, .Town .Modal .input .icon {
            font-size: 0.5rem; } }

.app {
  height: 100vh; }

.Game {
  height: 100vh; }

.BossFrame {
  height: 30%; }

.PartyFrame {
  height: 33%; }

.PlayerFrame {
  height: 25%; }

.PlayerSpellBar {
  height: 20vh; }

.MemberFrame {
  height: 15vh; }

.PlayerSpell {
  height: 80px; }

.SpellCooldDown {
  width: 10vw; }

.tooltip {
  position: relative;
  display: inline-block;
  color: black;
  cursor: context-menu; }

.tooltip .tooltiptext {
  font-size: 1rem;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  cursor: context-menu; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

/*# sourceMappingURL=main.css.map */
