.app {
  height: 100vh;
}

.Nav {
  height: 5vh;
}

.Game {
  height: 80vh;
}

.BossFrame, .PlayerFrame, .PartyFrame {
  height: 33%;
}


.PlayerSpellBar {
  height: 10vh;
}

.MemberFrame {
  height: 15vh;
}

.PlayerSpell {
  height: 80px;
  width: 200px;
}

.SpellCooldDown {
  width: 10vw;
}
